@import url('https://fonts.googleapis.com/css?family=PT+Sans');

#credit
{
  height: 20px;
  width: 30px;
}

#score{
  height: 30px;
  width: 60px;
}

img
{
  height: 100px;
  width: 130px;
  margin-top:245px;
}

body {
  background-image: url(image/casino.jpg);
  background-size: 100%;

}

.carre
{
  background-image: url(image/machine1.png);
  background-size: 100%;
  width: 600px;
  height: 430px;

  opacity: 1;
}

.gui {
  margin-bottom: 100px;
  color: red;
}

.score {
  margin-top: 100px;
  color: red;
}
