@import url('https://fonts.googleapis.com/css?family=PT+Sans');

#credit
{
  height: 20px;
  width: 30px;
}

img
{
    height: 100px;
    width: 100px;
}

body {
  background-image: url(image/casino.jpg);
}

.main {
  margin-top: 200px;
}

.carre
{
    width: 600px;
    height: 300px;
    background: white;
    opacity: 0.90;
    padding-top: 10px;
}

.site
{
    color: white;
}